.headerStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 clamp(1rem, -0.718rem + 6.64vw, 7.25rem);

    background-color: var(--grey-0);

    margin-bottom: 1.0625rem;
}

.buttonStyle {
    position: relative;

    background-color: transparent;
    border: none;
    color: #BDBDBD;
}

.spanStyle {
    padding: .1875rem .375rem;
    position: absolute;
    left: 1.125rem;
    bottom: 1.125rem;

    color: #FFF;
    border-radius: .4375rem;
    background: var(--color-primary);
    font-weight: 900;
}