.flexBoxContainer {
    display: flex;
    width: 95%;

}

.flexBox {
    display: flex;
    flex-direction: column;
}

.imgModal {
    width: 82.259px;
    height: 80px;

    background: var(--grey-100);
    padding: 13px;
    border-radius: 5px;
}

.flexBoxDescription {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 20px;
    align-items: center;
}


.btnDelete {
    background: transparent;
    border: none;
    color: var(--btn-color);
}


